<header id="overview" class="jumbotron subhead">
  <div class="row">
    <div class="span6">
      <h1>Readable</h1>
      <p class="lead">Optimized for legibility.</p>
    </div>
    <div class="span6">
      <div class="bsa well">
          <div class="bsap_1277971 bsap" id="bsap_1277971"><div class="bsa_it one"><div id="bsa_2924629" class="bsa_it_ad ad1 odd"><a target="_blank" onmouseout="window.status=''; return true;" onmouseover="window.status = 'http://wpengine.com/awesome-wordpress-hosting/?utm_source=BuySellAds&amp;utm_medium=banner&amp;utm_content=logo_130x100&amp;utm_campaign=adpacks'; return true;" href="http://stats.buysellads.com/click.go?z=1277971&amp;b=2924629&amp;g=&amp;s=&amp;sw=1920&amp;sh=1080&amp;br=firefox,20,linux&amp;r=0.3525970157771934&amp;link=http://wpengine.com/awesome-wordpress-hosting/?utm_source=BuySellAds&amp;utm_medium=banner&amp;utm_content=logo_130x100&amp;utm_campaign=adpacks"><span class="bsa_it_i"><img width="130" height="100" alt="WordPress Hosting" src="http://s3.buysellads.com/1255475/141107-1353087312.jpg"></span></a><a target="_blank" onmouseout="window.status=''; return true;" onmouseover="window.status = 'http://wpengine.com/awesome-wordpress-hosting/?utm_source=BuySellAds&amp;utm_medium=banner&amp;utm_content=logo_130x100&amp;utm_campaign=adpacks'; return true;" href="http://stats.buysellads.com/click.go?z=1277971&amp;b=2924629&amp;g=&amp;s=&amp;sw=1920&amp;sh=1080&amp;br=firefox,20,linux&amp;r=0.4843019765378155&amp;link=http://wpengine.com/awesome-wordpress-hosting/?utm_source=BuySellAds&amp;utm_medium=banner&amp;utm_content=logo_130x100&amp;utm_campaign=adpacks"><span class="bsa_it_t">WordPress Hosting</span><span class="bsa_it_d">No Hassle Hosting you and your clients can turn on and *forget* about.
</span></a><div style="clear:both"></div></div><span class="bsa_it_p"><a href="http://buysellads.com/buy/detail/149435/zone/1277971?utm_source=site_149435&amp;utm_medium=website&amp;utm_campaign=imagetext&amp;utm_content=zone_1277971">ads by BSA</a></span></div></div>
      </div>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="active"><a href="#typography">Typography</a></li>
      <li class=""><a href="#navbar">Navbar</a></li>
      <li class=""><a href="#buttons">Buttons</a></li>
      <li class=""><a href="#forms">Forms</a></li>
      <li class=""><a href="#tables">Tables</a></li>
      <li class=""><a href="#miscellaneous">Miscellaneous</a></li>
    </ul>
  </div>
</header>